### GLOBAL =========================================================================================
local.properties

### GRADLE FILES ===================================================================================
.gradle

### INTELLIJ FILES =================================================================================
.idea/libraries
.idea/workspace.xml

### BUILD DIRECTORY ================================================================================
build/