# =============== GLOBAL =====================
# Local configuration file (sdk path, etc)
local.properties

# Modules build directories
android_fragments/build/
examples/build/

# Gradle files
.gradle

# Intellij files
.idea/workspace.xml

# =============== RELEASE ====================
# exclude instrument tests
android_fragments/src/instrumentTest/
# exclude project build script
project.bat
# exclude all project scripts
script/