<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * =================================================================================
 * Copyright (C) 2013 Martin Albedinsky [Wolf-ITechnologies]
 * =================================================================================
 * Licensed under the Apache License, Version 2.0 or later (further "License" only);
 * *********************************************************************************
 * You may use this file only in compliance with the License. More details and copy
 * of this License you may obtain at
 *
 * 		http://www.apache.org/licenses/LICENSE-2.0
 *
 * You can redistribute, modify or publish any part of the code written in this
 * file but as it is described in the License, the software distributed under the
 * License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES or CONDITIONS OF
 * ANY KIND.
 *
 * See the License for the specific language governing permissions and limitations
 * under the License.
 * =================================================================================
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wit.android.fragment.examples"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:maxSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/ex_ic_launcher"
            android:label="@string/App.name"
            android:theme="@style/Ex.App.Theme">

        <activity android:name=".app.SplashActivity" android:noHistory="true" android:theme="@style/Ex.Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".app.HomeActivity" />
        <activity android:name=".app.WebActivity" />

    </application>

</manifest>
